body {
    font-size: 1em;
}

.menu {
    font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid;
    left: 0;
    top: 0;
}

.menu a:link {
    color: black;
    text-decoration: none;
}

.menu a:visited {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: black;
    text-decoration: none;
}

.menu a:active {
    color: black;
    text-decoration: none;
}

.menu h1 {
    font-weight: 900;
    font-size: 2em;
    margin-left: 2%;
    padding: 0;
}

.menu li {
    list-style: none;
    display: inline;
    margin: 20px;
}



.footer {
    border-top: 1px solid;
    margin-top: 4%;
    text-align: center;
    bottom: 0;
    left: 0;
}

.footer img {
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}

.footer p {
    font-size: 0.7em;
}