body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.menu {
    font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid;
    left: 0;
    top: 0;
}

.menu a:link {
    color: black;
    text-decoration: none;
}

.menu a:visited {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: black;
    text-decoration: none;
}

.menu a:active {
    color: black;
    text-decoration: none;
}

.menu h1 {
    font-weight: 900;
    font-size: 2em;
    margin-left: 2%;
    padding: 0;
}

.menu li {
    list-style: none;
    display: inline;
    margin: 20px;
}

#index {
    text-align: center;
}

.post {
    float: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 300px;
}

.post a {
    text-decoration: underline;
}

.post a:link {
    color: white;
}

.post a:visited {
    color: white;
}

.post a:hover {
    color: white;
}

.post a:active {
    color: white;
}

.footer {
    border-top: 1px solid;
    margin-top: 4%;
    text-align: center;
    bottom: 0;
    left: 0;
}


.footer img {
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}


.footer p {
    font-size: 0.7em;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .post {
        margin-left: 15%;
        width: 70%;
    }
}